<form name="form" ng-controller="createController" novalidate>
	<div>
		<label>Titulo:</label>
		<input name="sTitle" type="text" ng-model="survey.title" name="title" ng-minlength="5" ng-maxlength="100" required>
		<span ng-show="form.sTitle.$error.minlength || form.sTitle.$error.maxlength" style="color:red;font-style: oblique;">El título debe tener entre 5 y 100 caracteres.</span>
	</div>
	<div>
		<label>Descripcion:</label>
		<textarea name="sDescription" ng-model="survey.description" required></textarea>
		<span ng-show="form.sDescription.$error.required && form.sDescription.$dirty" style="color:red;font-style: oblique;">Campo requerido</span>
	</div>
	<div>	
		<label>Fecha Inicio:</label>
		<input type="date" ng-model="survey.startDate" placeholder="yyyy-MM-dd" required/>
	</div>
	<div>	
		<label>Fecha Fin:</label>
		<input type="date" ng-model="survey.endDate" placeholder="yyyy-MM-dd" required/>
	</div>
	<div id="preguntas">
		<div ng-repeat="q in qs track by $index">
			<label>Pregunta {{$index+1}}</label>
			<input type="hidden" value='{{survey.questions[$index].type="question"}}' required>
			<input name="survey" type="text" ng-model="survey.questions[$index].text" required/>
		</div>
	</div>
	<div>
		<button type="button" ng-click="addQuestionField()">A&ntilde;adir Pregunta</button>
	</div>
	<div>
		<button type="button" ng-click="submit(survey)" ng-disabled="form.$invalid">Enviar</button>
	</div>
</form>