<!DOCTYPE html>

<html>
<meta charset="UTF8">
<style type="styles/common.css" ></style>

<head>

</head>
<body>

<a ng-show="username" href="#create">Crear Votaci&oacute;n</a> 
<button onclick="window.location.href='#create'">Crear Votaci&oacute;n</button>
<br>
<br>
<a ng-show="username" href="#list">Listar</a> 
<button onclick="window.location.href='#list'">Lista de votaciones</button>
<br>
<br>
<span ng-show="username">Bienvenido {{username}}</span> 

<br>

	<div><br>
	¡Bienvenido al subsistema de Creación y Administración de votaciones!</div>
	<br>
	<div> Este subsistema ha sido desarrollado por:
	<br>
	<ul>
	<li>Alejandro Ballesteros Martín</li>
	<li>Rafael Carbonell García</li>
	<li>Manuel Rueda López</li>
	<li>Pablo Sánchez Alonso</li>
	<li>Juan Jesús Vázquez Rodríguez</li>
	</ul></div>

<br>
</body>
<footer>Este proyecto ha sido realizado para la asignatura de Evolución y Gestión
de la Configuración, para el grado en Ingeniería en Software (Universidad de Sevilla)
</footer>
</html>