<!DOCTYPE html>

<html>
<meta charset="UTF8">
<head>
<style type="styles/common.css"></style>

</head>
<body>

<a ng-show="username" href="#create">Crear Votaci&oacute;n</a>
<br>
<br>
<a ng-show="username" href="#list">Listar</a>
<br>
<br>
<span ng-show="username">Bienvenido {{username}}</span>
<br>

	<div><br>
	¡Bienvenido al subsistema de Creación y Administración de votaciones!</div>
	<br>
	<div> Este subsistema ha sido desarrollado por:
	<br>
	<ul>
	<li>Jose Iván Moreno Soto</li>
	<li>Mercedes</li>
	<li>Fernando García Padilla</li>
	<li>María Pérez Reina</li>
	<li>Olga Minerva Moreno Martín</li>
	<li>Francisco José Pérez Domínguez</li>
	<li>Daniel de Tena Benzal</li>
	<li>Jaime</li>
	</ul></div>

<br>
</body>
<footer>Este proyecto ha sido realizado para la asignatura de Evolución y Gestión
de la Configuración, para el grado en Ingeniería en Software (Universidad de Sevilla)
</footer>
</html>